.DS_Store
.~lock*
*.swp
*.gfs

# Gradle
.gradle/
gradle.properties
/build/

# local HALE archive/folder
HALE-*/
HALE-*.zip
HALE-*.tar.gz
workspace/
hale/

# Generated schema
/schemas/*/schema.hsd.json

# Generated instances
/schemas/*/instances.*
!/schemas/*/instances.groovy
